*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: white;
}

html,body{
  height: 100%;
  width: 100%;
}

#main{
  height: 100%;
  width: 100%;
  background-color: #000;
}

#nav{
  height: 100px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

#nav-part2{
  display: flex;
  gap: 55px;         /* all nav in one line */
}

#nav-part3{
  display: flex;
  gap: 55px;         /* all nav in one line */
  align-items: center;
}

#nav h3{
  text-transform: uppercase;
}

#nav h4{
  text-transform: uppercase;
}

#nav button{
  background-color: white;
  color: black;
  padding: 18px 25px;
  border: none;
  font-weight: 600;
  font-size: 16px;
}
#nav button:hover{
  background-color: blueviolet;
  cursor: pointer;
}

img{
  height: 45px;
}

#main h1{
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;         /*//box me content ko centre me laana */ 
  justify-content: center;    /*//pure content ko centre me laana */
}

#main h1 span{
  background-color: brown;
  font-size: 25px;
  padding: 25px 40px;
  margin: 0 30px;
  border-radius: 50px;
}

#main h1:nth-child(2){
  color: purple;
  margin-top: 60px;
}

#main h1:nth-child(4){
  color: red;
  margin-top: 60px;
}

#main  #left-image{
  height: 300px;
  position: absolute;
  top: 14%;
  left: 7%;
  border-radius: 30px;
}
#main #right-image{
  height: 300px;
  position: absolute;
  bottom: 14%;
  right: 7%;
  border-radius: 30px;
}